/* Copyright 2019 by IINCode */

html {
  width: 100%;
  height: 100%;
  background-color: #1D1D1E;
  color: #FFFFFF
}

naglowekStrony {
  margin-top: 10%;
  margin-left: 50%;
  font-weight: 900;
    text-align: center;
  color: inherit;
  font-size: 21px;
  font-family: 'Montserrat', serif;
}

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  font-family: 'Montserrat', serif;
}

#top{
height: 75px;
font-size: 10px;
color: white;
background-color: #000000;
text-align: center;
margin-top: 0px;
}

